<section>
  <div class="actions">
    <app-new-task [newTaskEmitter]="taskListChanges"></app-new-task>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Title</th>
        <th scope="col">description</th>
        <th scope="col">Is completed</th>
        <th scope="col">Created at</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let task of tasksList">
        <td>{{ task.title }}</td>
        <td>{{ task.description }}</td>
        <td>{{ task.isCompleted ? 'Yes' : 'No' }}</td>
        <td>{{ task.createdAt }}</td>
        <td>
          @if (!task.isCompleted) {
          <app-task-complete
            [task]="task"
            [taskCompletionEvents]="taskListChanges"
          ></app-task-complete>
          }
          <app-delete-task
            [taskDeleteEvents]="taskListChanges"
            [task]="task"
          ></app-delete-task>
        </td>
      </tr>
    </tbody>
  </table>
</section>
