<section>
  <div class="actions">
    <button type="button" class="btn btn-primary">New Task</button>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Title</th>
        <th scope="col">description</th>
        <th scope="col">Is completed</th>
        <th scope="col">Created at</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let task of tasksList">
        <td>{{ task.title }}</td>
        <td>{{ task.description }}</td>
        <td>{{ task.isCompleted ? 'Done' : 'To do' }}</td>
        <td>{{ task.createdAt }}</td>
      </tr>
    </tbody>
  </table>
</section>
